/* You can add global styles to this file, and also import other style files */
* {
  background-color: #1f2d40;
}
#container {
  display: flex;
  align-items: center;
  flex-direction: column;

  #menu {
    width: max-content;
    border: 1px solid #1f2d40;
  }
  #title {
    font-family: "Segoe UI", Helvetica, Arial;
    color: #ebedef;
  }
  #chart {
    width: 70vw;
  }
}
