<form [formGroup]="myForm" (ngSubmit)="submit()" id="myForm">
  <h3 style="text-align: center">Registration Form</h3>
  <input type="text" formControlName="id" style="display: none" />
  <span class="p-float-label">
    <input class="float-input" type="text" formControlName="name" pInputText />
    <label for="float-input">Name</label>
  </span>
  <span class="p-float-label">
    <p-password
      inputId="password"
      formControlName="password"
      class="input"
    ></p-password>
    <label for="password">Password</label>
  </span>
  <span class="p-float-label">
    <p-password inputId="password2" formControlName="password2"></p-password>
    <label for="password2">Confirm Password</label>
  </span>
  <span class="p-float-label">
    <input class="float-input" type="text" formControlName="email" pInputText />
    <label for="float-input">Email</label>
  </span>
  <div id="check">
    <p-inputSwitch formControlName="check"></p-inputSwitch>
    <span id="labelCheck">Contact me with more offers</span>
  </div>
  <span class="p-float-label">
    <p-dropdown
      inputId="dropdown"
      [autoDisplayFirst]="false"
      [options]="countries"
      formControlName="country"
      styleClass="dropdown"
    ></p-dropdown>
    <label for="dropdown">Country</label>
  </span>
  <span class="p-float-label">
    <input class="float-input" type="text" formControlName="city" pInputText />
    <label for="float-input">City</label>
  </span>
  <button
    pButton
    type="submit"
    class="p-button-warning"
    [formGroup]="myForm"
    [disabled]="myForm.invalid"
  >
    {{ myForm.get("id")?.value ? "Edit" : "Register" }}
  </button>
</form>
